.chains-container {
 @apply text-gray-100 m-6;
}

.chains-table {
  @apply min-w-full divide-y divide-gray-200 font-medium;
}

.chain-table-head {
  @apply bg-red-100 text-white font-bold;
}

.chain-header-items {
  @apply px-6 py-3 text-xs text-left uppercase;
}

.chain-table-data {
  @apply px-6 py-4 text-sm font-medium text-left;
}